*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}


.logo{
    display: block;
    margin: auto;
    height: 80px;
    width: 80px;
}

nav{
    background: linear-gradient(178deg,#FFE5B4,white);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.message_inbox{
    margin:10px;
    border-radius: 5px;
    /* background-color: burlywood; */
    width:70%;
    margin:auto;
    height: 65vh;
    overflow-y:scroll;
}

.message{
    background: red;
    width:24%;
    padding:12px;
    color:white;
    margin:12px;
}

.left{
    float: left;
    clear: both;
    border-radius: 10px 0px 10px 5px;
}

.right{
    float: right;
    clear: both;
    border-radius: 0px 10px 10px 5px;
}

.send_box{
    text-align: center;
    max-width: 985px;
    display: block;
    margin: auto;
}

#messageInp{
    margin: 10px;
    border: 2px inset;
    border-radius: 5px;
    width: 90%;
    height: 20px;
    font-size: 14px;
    padding: 16px;
}

.btn{
    padding:4px;
    width:100px;
    font-size: 18px;
    color:white;
    background-color:#fabe4e;
    border-radius: 5px;
    height: 40px;
}

.welcome{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    text-align: center;
    margin:10px;
    font-size:50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.author{
    background-color: white;
    color:black;
    text-align: center;
}